div#_shoping {
  height: 100vh; }
  div#_shoping h1 {
    width: 100%;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    font-size: 39px;
    letter-spacing: -1.6px;
    word-spacing: 3.6px;
    font-weight: 700;
    text-decoration: none;
    font-style: italic;
    font-variant: normal;
    text-transform: none;
    color: #444444;
    background: #FFFFFF;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC; }
  div#_shoping div#_products {
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    padding: 10px;
    width: 100%; }
    div#_shoping div#_products ._item {
      -webkit-box-shadow: -1px 7px 19px -4px black;
      -moz-box-shadow: -1px 7px 19px -4px black;
      box-shadow: -1px 7px 19px -4px black;
      position: relative;
      height: 300px;
      width: 300px;
      display: inline-block;
      overflow: hidden; }
      div#_shoping div#_products ._item .product_img {
        position: relative;
        height: 300px;
        width: 300px; }
        div#_shoping div#_products ._item .product_img img {
          height: 300px;
          width: 300px;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          -ms-transform: scale(1);
          -o-transform: scale(1);
          transform: scale(1);
          transition: all linear 0.3s; }
      div#_shoping div#_products ._item ._buy {
        position: absolute;
        height: 300px;
        width: 300px;
        cursor: pointer;
        top: 300px;
        z-index: 2;
        transition: all linear 0.25s;
        background-color: rgba(6, 6, 6, 0.5); }
        div#_shoping div#_products ._item ._buy p {
          color: white;
          width: 100%;
          text-align: center; }
        div#_shoping div#_products ._item ._buy input {
          height: 50px;
          width: 150px;
          border: none;
          cursor: pointer;
          background-color: cyan;
          outline: none;
          margin-left: 20%; }
      div#_shoping div#_products ._item:hover img {
        transform: scale(1.1); }
      div#_shoping div#_products ._item:hover ._buy {
        top: 0px; }
