div#contact{

  height:30px;
  background: #D8DBE4;
  margin-top: -16px;
  position: relative;
  ul{
    list-style: none;
    li{
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 22px;
      letter-spacing: -1.4px;
      word-spacing: 3.6px;
      color: #0F0A1C;
      font-weight: 700;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
    }
  }
}
div#navigation{
  position: relative;
  height: 50px;
  position: relative;
  margin-top: -16px !important;
  nav{
    position: relative;
    width: inherit;
    height:inherit;
    background-color: #239CFA;
    position: relative;
    -webkit-box-shadow: 0px 10px 19px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 10px 19px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 10px 19px -2px rgba(0,0,0,0.75);


    span{
      position: relative;
    }
    ul{
      list-style: none;
      position: relative;
      margin-left: 210px;
      li:not(#_users){
        float: left;
        height:49px;
        width: 150px;
        box-sizing: border-box;
        text-align: center;
        box-shadow: none;
        transition: all linear 0.3s;
        padding: 10px;
        padding-top: 13px;
        margin-top: 0px;
        cursor: pointer;
        z-index: 1;
        font-weight: bold;
        font-family: Impact, Charcoal, sans-serif;
        font-size: 25px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #0F0A1C;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        &:hover{
          background-color: #4c6cff;
          -webkit-box-shadow: -5px 7px 21px -4px rgba(0,0,0,0.75);
          -moz-box-shadow: -5px 7px 21px -4px rgba(0,0,0,0.75);
          box-shadow: -5px 7px 21px -4px rgba(0,0,0,0.75);
        }
      }
      li#_users{

        font-family: Impact, Charcoal, sans-serif;
        font-size: 22px;
        letter-spacing: 2px;
        word-spacing: 2px;
        color: #0F0A1C;
        font-weight: normal;
        text-decoration: none;
        font-style: normal;
        font-variant: normal;
        text-transform: none;
        ul#_subl{
          display: none;
          z-index: 6;
          top:10px;
          left: -220px;
          li{
            margin-top: 25px;
            margin-left: -30px;
            height:50px;
            width:100px;
            background-color: white;
            font-family: "Courier New", Courier, monospace;
            font-size: 15px;
            letter-spacing: 2px;
            word-spacing: 2px;
            color: #0F0A1C;
            font-weight: 700;
            text-decoration: none;
            font-style: normal;
            font-variant: normal;
            text-transform: none;

          }
        }
        &:hover #_subl{
          display: block;
        }
      }
      ul#bottom_wear{
        position: relative;
        left: -120px;
        height: 100px;
        width: 100px;
        top:18px;
        li{
          float: left;
          background-color: white;

        }
        #_men:hover ul#_bottom_cat{
          display: block;
        }
        ul#_bottom_cat{
          display: none;
          position: relative;
          left: -60px;
          top:-10px;
        }
      }
      #bottom_wear{
        display: none;
        z-index: 2;
      }
      li#_mens:hover ul#bottom_wear{
        display: block;
      }
    }
    div#_search{
      position: relative;
      height: inherit;
      margin-left: 1000px;
      margin-top: -30px;

      input{
        height: 30px;
        margin-top: 8px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
        transform: scale(1);
        transition: all linear 0.3s;
        &::-webkit-input-placeholder{
          color: orangered;
          padding-left: 10px;
        }
        &:focus{
          transform: scale(1.05);
        }
      }


    }


  }
}